.mainBgContainer {
    background: linear-gradient(to right, #dceefb, #a9c4ff);
    min-height: 100%;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.unitSelector {
  margin-top: 20px;
}

.unitDropdown {
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
  border: 2px solid #338ae0;
  border-radius: 5px;
  background-color: transparent;
  color:#000000;
}

.searchButton {
    background-color: transparent;
    border: none;
    outline: none;
}

.searchBox {
    width: 100%;
    height: 10px !important;
    border: 3px solid #003cff;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
}

.iconswithSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.searchIcon {
    width: 20px;
    height: 20px;
    margin-left: -30px;
}

.searchIcon:hover {
    cursor: pointer;
}

.weatherIcon {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.iconsAndLocation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchLocation {
    font-size: 24px;
    font-weight: 700;
    color: #c300ff;
}

/* Humidity and wind speed */
.humidContainer, .speedContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.humidityIcon, .speedIcon {
    width: 50px;
    margin-right: 10px;
}

.humidandWindSpeedContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Temperature and props */
.temparature {
    color: #008afc;
    font-size: 28px;
}

.props {
    color: #008afc;
    font-size: 14px;
    font-weight: 500;
}

.tempTitle {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #c300ff;
}

/* Responsive design for small devices */
@media screen and (max-width: 768px) {
  

    .weatherIcon {
        width: 80px;
        height: 80px;
    }

    .searchLocation {
        font-size: 20px;
    }

    .temparature {
        font-size: 24px;
    }

    .tempTitle {
        font-size: 16px;
    }

    .humidContainer, .speedContainer {
        margin: 10px;
    }
}

/* Responsive design for medium devices (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .mainBgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .weatherIcon {
        width: 80px;
        height: 80px;
    }

    .temparature {
        font-size: 26px;
    }

    .searchLocation {
        font-size: 22px;
    }

    .tempTitle {
        font-size: 16px;
    }

    .humidContainer, .speedContainer {
        margin: 15px;
    }
}

/* Responsive design for very small devices (max-width: 500px) */
@media screen and (max-width: 500px) {
    .searchIcon {
        width: 15px;
        height: 15px;
        margin-left: -20px;
    }

    .weatherIcon {
        width: 60px;
        height: 60px;
    }

    .searchLocation {
        font-size: 18px;
    }

    .temparature {
        font-size: 20px;
    }

    .tempTitle {
        font-size: 14px;
    }

    .humidContainer, .speedContainer {
        margin: 10px;
    }
}
